<% content_for :hero do %>
<div class="image-gradient-dynamic">
  <%= image_tag "top_photo.jpg" %>
  <div class="overlay"></div>
  <div class="copy">
    <h2>The</h2>
    <h1>Spartan Dischords</h1>
  </div>
</div>
<% end %>

<head>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>

<div class="event">
  <%= image_tag "events/not_so_silent_night.jpg" %>
  <div class="summary">
    <article class="type-system-geometric">
      <h1><%= @next_event.title %></h1>
      <p><%= truncate(@next_event.description, length: 300, separator: ' ' )%></p>
      <h2><%=  link_to "More Info >", event_path(@next_event)  %> </h2>
    </article>

  </div>
</div>

