<% content_for :hero do %>
  <div class="image-gradient-dynamic">
    <%= image_tag "top_photo.jpg" %>
    <div class="overlay"></div>
    <div class="copy">
      <h2>The</h2>
      <h1>Spartan Dischords</h1>
    </div>
  </div>
<% end %>

<head>
  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>

<div class="admin-link">
  <% if current_user %>
    <ul>
      <div class="flash-success">
        <span>Add a <u><%= link_to "New Event", new_event_path %> </u></span>
      </div>
    </ul>
  <% end %>
</div>

<% if @next_event %>
  <div id="upcoming-event-header">
    <h3>Upcoming Event:</h3>
  </div>
  <br/>
  <hr>
  <br/>

  <div class="event">
    <%= image_tag @next_event.image_url(:thumb) if @next_event.image? %>
    <div class="summary">
      <article class="type-system-geometric">
        <div class="description">
          <div id="show-name">
            <h1><%= @next_event.title %></h1>
          </div>
          <div id="show-date">
            <h5> <%= @next_event.starts_at.strftime("%B %d @ %l:%M %P")%></h5>
          </div>
        </div>
        <p><%= truncate(@next_event.description, length: 200, separator: ' ' )%></p>
        <h2><%=  link_to "More Info >", event_path(@next_event)  %> </h2>
      </article>

    </div>
  </div>
<% end %>

<% if ! @next_event %>
  <div id="newSong">
    <h4>New Song Release:</h4>
  </div>
  <hr>
  <p> We are also happy to announce the release of our newly recorded cover of "Stay With Me" by Sam Smith.</p>
  <p> Check it out now, coming soon on iTunes!</p>
  <br/>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/204055306&amp;color=2ca95e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  <br/>
  <br/>
  <p> Thanks, finney ;)</p>
<% end %>

