<div class="intro-text">
<h3><%= @event.category %></h3>
<h2><%= @event.title %></h2>
<h4> <%= @event.starts_at%></h4>
<p><%= @event.description %></p>
</div>

<div class="modal">
  <label for="modal-1">
    <div class="btn js-btn">
      <h1>Tickets</h1>
    </div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1><em><%= @event.title %></em> Tickets</h1>
      <p class="body">Tickets for the show can be found at: <%= link_to @event.link, @event.link %> Thanks, and see you there!</p>

    </div>
  </div>
</div>

