<div class="admin-link">
  <% if current_user %>
    <ul>
      <div class="flash-success">
        <span>Add a <u><%= link_to "New Event", new_event_path %> </u></span>
      </div>
      <div class="flash-alert">
        <span><u><%= link_to "Edit Event", edit_event_path %> </u></span>
      </div>
      <div class="flash-error">
        <span><u><%= link_to "Delete Event", event_path(@event), :method => :delete %> </u></span>
      </div>
    </ul>
  <% end %>
</div>

<div class="intro-text">
<h3><%= @event.category %></h3>
<h2><%= @event.title %></h2>
<h4> <%= @event.starts_at.strftime("%B %d @ %l:%M %P")%></h4>
<p><%= @event.description %></p>
</div>

<div class="modal">
  <label for="modal-1">
    <div class="btn js-btn">
      <h1>Tickets</h1>
    </div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1><em><%= @event.title %></em> Tickets</h1>
      <p class="body">Tickets are on sale at the Wharton Center or at: <%= link_to @event.link, @event.link %> <br/> They are $5 for students, and $10 for adults! Thanks, and see you there!</p>

    </div>
  </div>
</div>

<br/>
<br/>

