<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<%= image_tag @event.image %>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<div class="modal">
  <label for="modal-1">
    <div class="btn js-btn">
      <h1>Tickets</h1>
    </div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1><em>"<%= @event.title %></em>" Tickets</h1>
      <p class="body">Tickets for the show can be found at <%= link_to "www.whartoncenter.com", "www.whartoncenter.com" %>, or you can buy them directly at the door. Thanks, and see you there!</p>
    </div>
  </div>
</div>
