<div class="watch-listen">
<h1>Watch & Listen</h1>

<div class="admin-link">
  <% if current_user %>
    <div class="flash-success">
      <span>Add <%= link_to 'New Song', new_song_path %> </span>
    </div>
  <% end %>
</div>

<br/>

<hr>


<div class="videos">
  <% @songs.each do |song| %>
    <tr>
      <div class="video">
        <td><%= song.title %></td>
        <div class="video-wrapper">
          <iframe src="https://www.youtube.com/embed/D7mK5bFPS-E?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <td><%= song.url %></td>
      <td><%= song.soloists %></td>
      <% if current_user %>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</div>
<br>

</div>
