<div class="watch-listen">
<h1>Watch & Listen</h1>

<div class="admin-link">
  <% if current_user %>
    <div class="flash-success">
      <span>Add <u><%= link_to 'New Song', new_song_path %> </u></span>
    </div>
  <% end %>
</div>

<br/>

<hr>


<div class="videos">
  <% @songs.each do |song| %>
    <tr>
      <div class="video">
        <h2><%= song.title %></h2>
        <div class="video-wrapper">
          <iframe src="<%= song.url %>" frameborder="0" allowfullscreen></iframe>
        </div>
        <% if (song.soloists.length != 0) %>
        <div class="soloists">
          <div class="tooltip-item">
            Soloists
            <div class="tooltip">
              <p><%= song.soloists %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% if current_user %>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</div>
<br>

</div>
