<header class="navigation">
<div class="navigation-wrapper">
  <a href="/" class="logo">
    <%= image_tag "logos/shield-2.png" %>
  </a>
  <a href="/" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
  <div class="nav">
    <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"> <%= link_to "Home", events_path %> </li>
      <li class="nav-link"> <%= link_to "Members", members_path %> </li>
      <li class="nav-link"> <%= link_to "History", page_path('history') %> </li>
      <li class="nav-link"> <%= link_to "Hire Us", page_path('hireus') %> </li>
    </ul>
  </div>
</div>
</header>
