<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'jquery.Jcrop' %>
    <%= javascript_include_tag 'jquery.Jcrop' %>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="initial-scale=1" />

    <title><%= title %></title>
    <%= stylesheet_link_tag :application, media: "all" %>
    <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">

    <%= render "nav" -%>

    <%= yield :hero %>

    <div id="container">
      <%= render "flashes" -%>
      <%= yield %>
    </div>
    <%= render "footer" -%>

    <%= render "javascript" %>
  </body>
</html>
