<div class="member-info">
<h1>
  <%= @member.name %>
</h1>

<div class="portait">
<%= image_tag @member.picture_url(:large).to_s %>
</div>

<p> - <%= @member.position %> - </p>

<h2>
  <strong>Major: </strong><%= @member.major %>
</h2>

</div>

<br />
<br />
<br />
<br />
<div class="admin-link">
<% if current_user %>
  <ul>
  <li class="member-link"> <%= link_to "Edit member", edit_member_path %> </li>
  <li class="member-link"> <%= link_to "Delete member", @member.destroy %> </li>
  </ul>
<% end %>
</div>
