<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @member.picture %>
</p>

<p>
  <strong>Major:</strong>
  <%= @member.major %>
</p>

<p>
  <strong>Joined on:</strong>
  <%= @member.joined_on %>
</p>

<p>
  <strong>Position:</strong>
  <%= @member.position %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @member.bio %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
